# Build Folders
bin/
obj/

# Visual Studio / Rider / VSCode configs
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/

# Logs
*.log

# Packages
*.nupkg
packages/

# Rider project files
.idea/

# Otros
*.db
*.bak
*.backup
*.tmp

# Dotnet user secrets folder
secrets/

# Resharper
_ReSharper*/

# Publish output
publish/

# npm dependencies (si usás front con node)
node_modules/

# Env files con variables sensibles
.env
