@using EsteroidesToDo.Application.ViewModels.UsuarioViewModel
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Registrarse</h2>

<form asp-action="Register" method="post">
    
    <div>
        <label for="Nombre" >Nombre de usuario:</label>
        <input asp-for="Nombre" type="name"/>
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    
    <div>
        <label for="Email">Correo de su cuenta: </label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label for="Password">Contrasenia: </label>
        <input asp-for="Password" type="password" required name="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrarse</button>

</form>