@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Su correo electronico real no se utiliza en la aplicacion, es solo una copia que lo identifica</p>
</div>
